<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
          <img src="images/logo-mercado-liebre.svg" alt="Logo de Mi Mercado Liebre">
        </div>

        <div class="barradebusqueda">
          <input type="text" placeholder="Buscar productos, marcas">
          <button>Buscar</button>
        </div>

        <div class="opciones">
          <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
          </p>
          <nav>
            <ul>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
              <li><a href="register">Creá tu cuenta<i class="fas fa-user"></i></a></li>
              <li><a href="loginML">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="#">Mis compras<i class="fas fa-shopping-bag"></i></a></li>
            </ul>
          </nav>
        </div>
        
        <div class="menu-hamburguesa">
          <i class="fas fa-bars"></i>
        </div>

        <section class="banner">
          <img src="images/img-home-banner.jpg" alt="Banner del Home">
        </section>
          
      </header>

      <main>
        <section class="ultima-visita">
          <h2>Basado en tu última visita</h2>
          <div class="producto">
            <div class="producto-container">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
        </div>

         <div class="producto">
          <div class="producto-container">
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">MacBook Pro 2019</p>
          </div>
        </div>
        
          <div class="producto">
            <div class="producto-container">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10</p>
          </div>
        </div>

          <div class="producto">
            <div class="producto-container">
            <img src="images/img-tv-samsung-smart.jpg" alt="Smart TV">
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTv Samsung 43</p>
          </div>
         </div>
        </section>

        <section class="ofertas">
            <h2>Ofertas</h2>
            <div class="producto">
              <div class="producto-container">
                  <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                  <p class="precio">$6.770</p>
                  <p class="descuento">40% OFF</p>
                  <p class="descripcion">Cafetera Moulinex</p>
              </div>
          </div>
  
           <div class="producto">
            <div class="producto-container">
              <img src="images/img-macbook-pro-2019.jpg" alt="MacBook">
              <p class="precio">$230.000</p>
              <p class="descuento">20% OFF</p>
              <p class="descripcion">MacBook Pro 2019</p>
            </div>
          </div>
          
            <div class="producto">
              <div class="producto-container">
              <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
              <p class="precio">$70.500</p>
              <p class="descuento">10% OFF</p>
              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </div>
  
            <div class="producto">
              <div class="producto-container">
              <img src="images/img-tv-samsung-smart.jpg" alt="Smart TV">
              <p class="precio">$23.200</p>
              <p class="descuento">5% OFF</p>
              <p class="descripcion">SmartTv Samsung 43</p>
            </div>
           </div>
          </section>
      </main>

      <footer>
        <div class="sectiondelfooter">
          <i class="fab fa-cc-visa" style="color: #1259c3; font-size: 2em; display: block; margin-bottom: 10px;"></i>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="sectiondelfooter">
          <i class="fas fa-gift" style="color:#1259c3; font-size: 2em; display: block; margin-bottom: 10px;"></i>
          <h2>Envío gratis desde $ 2.500<h2>
          <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="sectiondelfooter">
          <i class="fas fa-shield-alt" style="color: #1259c3; font-size: 2em; display: block; margin-bottom: 10px;"></i>
          <h2>Seguridad, de principio a fin</h2>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </div>
        <div class="sectiondelfooter">
          <p>Copyright © 1999-2024 MercadoLiebre S.R.L.</p>
        </div>
      </footer>
      </body>
</html>